body {
font-family: 'Roboto', sans-serif;
background-color: #fff;
color: #757575;
}

:root {
    --brand-color: #212121;
    --bluebrand-clor: #2196f3;
    --discription-color: #757575; 
    --margin-bottom:10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* logo*/

.web {
    color: var(--bluebrand-clor);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.studio {
    color: var(--brand-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* nav */

.countainer {
    height: 100%;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.site-nav {
   display: flex; 
   margin-left: 90px;
}

.site-nav .item  + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--bluebrand-clor);
}

.site-nav .link.current {
    color: var(--bluebrand-clor);
}

.auth-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--discription-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.auth-icon {
    margin-right: 10px;
    fill: var(--discription-color);
    
}

.auth-link:hover,
.auth-link:focus,
.auth-link:hover .auth-icon,
.auth-link:focus .auth-icon {
    color: var(--bluebrand-clor);
    fill: var(--bluebrand-clor);
}

.auth-nav {
  display: flex; 
  margin-left: auto; 
}

.auth-nav .item + .item {
    margin-left: 50px;

}

/* .auth-nav .link {
    color: var(--discription-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--bluebrand-clor);
} */


.hero {
    text-align: center;
    padding: 200px 0;
    border-radius: 4px;
    border: 0;
    margin: 0 auto;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/bg.jpg);
}
.hero-title {
    width: 696px;
    margin:auto;
    text-align: center;
    margin-bottom: 30px;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero-button {
    color: #FFFFFF;
    background-color: var(--bluebrand-clor);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: none;
    

}

.particular {
    padding-top: 47px;
    padding-bottom: 47px;
}


.particular-list {
    display: flex;
    gap: 30px;
}

.particular-list:not(:last-child) {
    margin-right: 30px;
}

.particular-content {
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

}


.particular-title {
    margin-bottom: var(--margin-bottom);

    color: var(--brand-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
}

.particular-txt {
    color: var(--discription-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03;
    /* width: 270px; */
}

.work {
    padding-bottom: 94px;
}

.work-title {
    margin-bottom: 50px;
    text-align: center;

    color: var(--brand-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.work-pic {
    display: flex;
    flex-wrap: wrap;
    
}


.work-item {
    width: calc((100% - 60px) / 3);
    
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

.work-bottom-wrap {
    position: relative;

}

.work-bottom-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    line-height: 1.14;
    font-weight: 700;
    padding: 27px;
    height: 70px;
    width: 370px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.team {
    background-color: #F5F4FA;

}

.team-title {
    margin-bottom: 50px;
    text-align: center;

    color: var(--brand-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team-pic {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.team-item {
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 120px) / 4);
    margin: 15px;
}

.team-names {
    padding: 30px 30px;
    text-align: center;
    justify-content: center;

}

.name {
    margin-bottom: var(--margin-bottom);

    color: var(--brand-color); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;

    
}

.name-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.name-soc-item {
    width: 44px;
    height: 44px;
    

}

.name-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.name-soc-icon {
    fill:  #AFB1B8;
    
}

.name-soc-link:hover, 
.name-soc-link:focus {
    background-color: var(--bluebrand-clor);
}

.name-soc-link:hover .name-soc-icon {
    fill: #FFFFFF;
}
.name-soc-link:focus .name-soc-icon {
    fill:  #FFFFFF;
}


.customers-title {
    margin-bottom: 50px;
    text-align: center;

    color: var(--brand-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.customers-list {
    display: flex;
    gap: 30px;
}

.customers-item {
    width: calc((100% - 150px)/6);
    height: 92px;
}

.customers-link {
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.customers-icon {
    fill: #AFB1B8;
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--bluebrand-clor);
}

.customers-link:hover .customers-icon{
    fill: var(--bluebrand-clor);
}
.customers-link:focus .customers-icon {
    fill: var(--bluebrand-clor);
}

/* footer */
.page-footer {
    padding-bottom: 60px;
    padding-top: 60px;
    
    background-color: #2F303A;
    font-style: normal;
}
.footer-countainer {
    display: flex;
    align-items: baseline;
}


.footer-address {
    max-width: 231px;
    width: 100%;
    margin-right: 70px;
}

.address-page {
    margin-top: 20px;
}

.street {
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
}

.address-page .link {
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
}

.address-page .link:hover,
.address-page .link:focus {
    color: var(--bluebrand-clor);
}

.studio-footer{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.soc-title {
    color: #FFFFFF;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.footer-soc-list{ 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    
}

.footer-soc-item:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--bluebrand-clor)
}

.footer-soc-link:hover
.footer-soc-link:focus .footer-soc-icon {
    fill: #FFFFFF;
}

.footer-soc-icon {
    fill: #FFFFFF;
}

.marg-button {
    display: flex;
     text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
    
.all-button {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    margin-bottom: 50px;
    
}


.main-button {
    color:var(--brand-color) ;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    
}

.button-item:hover,
.button-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button-item:not(:last-child) {
    margin-right: 8px;
}




.main-button:hover,
.main-button:focus {
    color: #fff;
    background-color: var(--bluebrand-clor);
}

.project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    

}

.project-item {
    width: calc((100% - 90px) / 3);
    border: 1px solid #EEEEEE;
}

.project-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:hover .project-bottom-text {
    transform: translateY(0%);
}

.project-bottom-info {
    position: relative;
    overflow: hidden;
}

.project-bottom-text {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 0.9);
    line-height: 1.5;
    letter-spacing: 0.03em;
    padding: 63px;
    height: 100%;
    width: 370px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.project-product {
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--discription-color);
}

.card-name {
    display: block;
    padding: 20px 24px;
    text-align: start;
    border: 1px solid #EEEEEE;
    border-top: 0;
    
}

.project-titel{
    margin-bottom: 4px;
    
    color: var(--brand-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    white-space: nowrap;
    letter-spacing: 0.06em;
}